body {
  color: var(--black-color);
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
}
:root {
  --black-color: #212121;
  --logofirst-color: #2196f3;
  --logosec-color: #000000;
  --head-background: #ffffff;
  --grey-color: #757575;
  --select-bgcolor: #2196f3;
  --bg-color: #2f303a;
  --white-color: #ffffff;
  --button-bg-color: #2196f3;
  --desc-color: #757575;
  --workers-bgcolor: #f5f4fa;
  --blue: #2196f3;
  --border: #eeeeee;
  --social: #afb1b8;
}
/* logo */
.logo-first > a {
  color: var(--logofirst-color);
  font-family: "Raleway", sans-serif;

  font-size: 26px;
}
nav {
  display: flex;
}

.logo-sec {
  color: var(--logosec-color);
}
.logo-third {
  color: var(--white-color);
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* header */
.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 34.5px;
  background: var(--blue);
  height: 4px;
  border-radius: 10px 10px 10px 10px;
}
.contact-container {
  display: flex;
  align-items: center;
}
.head-container {
  background-color: var(--head-background);
  border-color: #ececec;
  border-bottom: 1px solid #ececec;
}
.contact-li-element {
  display: flex;
  align-items: center;
  fill: var(--grey-color);
}
.contact-li-element:hover,
.contact-li-element:focus {
  fill: var(--blue);
  cursor: pointer;
  transition: background 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.head-container-additional {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}
.nav-list {
  display: flex;
  gap: 46px;
  align-items: center;
}
.contact-list {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 50px;
  padding-left: 371px;
}
.contact-us {
  color: var(--grey-color);
  display: flex;
  font-weight: 500;
  font-size: 14px;
  align-items: center;
}
.contact-us:hover,
.contact-us:focus {
  color: var(--select-bgcolor);
  fill: var(--blue);
  cursor: pointer;
  transition: background 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/* navi buttons */
.navi-button {
  color: var(--black-color);
  position: relative;
  font-weight: 500;
  font-size: 14px;
}
.navi-button:hover {
  color: var(--select-bgcolor);
  cursor: pointer;
  transition: background 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.navi-button:focus {
  color: var(--select-bgcolor);
  cursor: pointer;
  transition: background 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* a */
h3 {
  margin: 0 auto;
}
a {
  text-decoration: none;
}
/* ul li */
ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}
img {
  display: block;
}
/* main  - EFEKTY*/

.main-container {
  color: var(--white-color);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/people.jpg);

  text-align: center;
}
.container-height {
  padding-bottom: 200px;
}
.button-color {
  background-color: var(--button-bg-color);
  color: var(--white-color);
  border: var(--bg-color);
  padding: 14px 48px 14px 48px;
  border-radius: 4px;
}
.button-color:hover,
.button-color:focus {
  background-color: var(--button-bg-color);
  color: var(--white-color);
  border: var(--bg-color);
  cursor: pointer;
  transition: color 250ms, background 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button-portfolio {
  background-color: #f5f4fa;
  color: var(--black-color);
  cursor: pointer;
  border: var(--white-color);
  font-weight: 500;
  font-size: 16px;
  font-style: normal;
  padding: 6px 22px 6px 22px;
  border-radius: 4px;
  line-height: 1.2;
}

.button-portfolio:hover {
  background-color: var(--button-bg-color);
  color: var(--white-color);
  cursor: pointer;
  border: none;
  border: 0px solid black;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/* description */
.desc-section {
  display: flex;
  padding-bottom: 0;
  justify-content: space-between;
}
.desc-list {
  display: flex;
  margin: 0 auto;
  padding: 0;
}
.desc-item {
  width: 310px;
}
.title-desc {
  /* czcionka */
  /* 
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; 
*/

  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  text-align: left;
  vertical-align: top;
  letter-spacing: 0.03em;
}
.text-desc {
  color: var(--desc-color);
  font-family: "Roboto";
  font-style: normal;
  font-size: 14px;
  line-height: 1.4;
  text-align: Left;
  vertical-align: Top;
  letter-spacing: 0.02em;
}
.text-main {
  text-align: center;
  font-family: "Roboto";
  font-size: 44px;
  line-height: 116%;
  vertical-align: Top;
  padding-top: 200px;
  padding-bottom: 30px;
}
.text-main-button {
  text-align: center;
  font-family: "Roboto";
  font-size: 16px;
  line-height: 160%;
  vertical-align: center;
}
/* about-us */
.about-us-items {
  display: flex;
  justify-content: center;
  gap: 45px;
  padding-left: 0;
  margin: 0 auto;
}
.about-us {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  margin-top: 0;
}
/* team */
.work-image-item {
  margin: 0;
  position: relative;
  width: 370px;
  height: 294px;
  display: flex;
}

.work-image-item-desc {
  position: absolute;
  display: flex;
  width: 370px;
  height: 70px;
  top: 224px;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  background: rgba(47, 48, 58, 0.8);
}
.workers-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
}
.workers-bground {
  background-color: var(--white-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
figure {
  margin: 0 auto;
}
.workers {
  background-color: var(--workers-bgcolor);
}
.workers-title {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
}
.full-name {
  color: var(--black-color);
  font-weight: 500;
  font-size: 16px;
  text-align: center;
}
.profesion {
  color: var(--grey-color);
  font-weight: 500;
  font-size: 16px;
  text-align: center;
}
.full-name-port {
  color: var(--black-color);
  font-weight: 700;
  font-size: 18px;
  text-align: left;
  letter-spacing: 0.06em;
  padding-left: 24px;
}
.profesion-port {
  color: var(--grey-color);
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: left;
  padding-left: 24px;
}
img {
  align-self: flex-start;
}
/* footer */
.footer-text > a > p {
  padding-bottom: 20px;
  margin: 0 auto;
  /* nie wiem czy to tak może wyglądać i czy to jest funkcjonalne w jakiś sposób */
}
.footer-info {
  background-color: var(--bg-color);
  padding: 60px 0;
}
.street {
  color: var(--white-color);
  font-size: 14px;

  font-size: 14px;
}
/* ZAD 3*/
.container {
  width: 1200px;
  margin: 0 auto;
}
h1 {
  margin: 0 auto;
}
.footer-container {
  margin: 0 auto;
  display: flex;
}
.contact-us-footer {
  display: inline-block;
  padding: 0;
}
/* nazwa do zmiany */
.technocrack {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding-left: 0;
  margin: 0 auto;
}
.product:hover,
.product:focus {
  background-color: var(--white-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons-portfolio {
  display: flex;
  justify-content: center;
  gap: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  cursor: pointer;
  border-radius: 4px;

  padding-bottom: 34px;
  margin: 0 auto;
  padding-left: 0;
}
.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  padding-top: 49px;
  padding-left: 24px;
}
.product:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: box-shadow 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.product:hover .portfolio-overlay {
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(0);
  transition: transform 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-overlay-text {
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--white-color);
}
.product {
  border: 1px solid #eeeeee;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}
.portfolio-card-desc {
  border-bottom: 1px solid var(--border);
  border-left: 1px solid var(--border);
  border-right: 1px solid var(--border);
  overflow: hidden;
  position: relative;
  height: 110px;
  background-color: var(--white-color);
}
button {
  font-family: "Roboto", sans-serif;
}
/* ZAD4 */
.desc-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}
.email {
  margin-right: 5px;
}
.smartphone {
  margin-right: 5px;
}
.icons {
  display: flex;
  justify-content: space-between;
}
.media-icons {
  align-items: center;
  justify-content: center;
}

.socialmedia-link {
  display: flex;
  border-radius: 50%;
  padding: 12px;
}
.socialmedia-link:hover,
.socialmedia-link:focus,
.socialmedia-link:active {
  fill: var(--white-color);
  background-color: var(--blue);
  cursor: pointer;
  transition: background 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icons {
  list-style: none;
  display: flex;
  gap: 10px;
  padding-left: 0px;
  fill: var(--social);
  justify-content: space-around;
  padding-bottom: 30px;
}
.clients-title {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
}
.clients-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
}
.client {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  display: flex;

  fill: var(--social);
}
.client:hover,
.client:focus {
  fill: var(--blue);
  border-color: var(--blue);
  cursor: pointer;
  cursor: pointer;
  transition: background 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.invitation {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  padding-bottom: 20px;
}
.socialmedia {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 10px;
  fill: var(--white-color);
}
.socialmedia-footer-div {
  display: inline;
}
.footer-socialmedia {
  padding-left: 70px;
  padding-top: 12px;
}

.footer-socialmedia-header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  margin: 0;
}

.footer-socialmedia-items {
  display: flex;
  padding-top: 20px;
  gap: 10px;
  padding-left: 0;
  margin: 0 auto;
}

.footer-socialmedia-item {
  width: 40px;
  height: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  fill: var(--white-color);
  background: rgba(255, 255, 255, 0.1);
}

.footer-socialmedia-item:hover,
.footer-socialmedia-item:focus {
  background: var(--select-bgcolor);
  cursor: pointer;
  cursor: pointer;
  transition: background 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/* MODAL */
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms, visibility 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  transform: translate(-50%, -50%);
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-exit {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.modal-exit:hover,
.modal-exit:focus {
  background: var(--blue);
  color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: background 250ms, color 250ms, box-shadow 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
