body {
  color: var(--black-color);
  font-family: "Roboto", sans-serif;
}
:root {
  --black-color: #212121;
  --logofirst-color: #2196f3;
  --logosec-color: #000000;
  --head-background: #ffffff;
  --grey-color: #757575;
  --select-bgcolor: #2196f3;
  --bg-color: #2f303a;
  --white-color: #ffffff;
  --button-bg-color: #2196f3;
  --desc-color: #757575;
  --workers-bgcolor: #f5f4fa;
}
/* logo */
.logo-first > a {
  color: var(--logofirst-color);
  font-family: "Raleway", sans-serif;

  font-size: 26px;
}
.logo-sec {
  color: var(--logosec-color);
}
.logo-third {
  color: var(--white-color);
}
/* header */
.head-container {
  background-color: var(--head-background);
  border-color: #ececec;
}
.contact-us {
  color: var(--grey-color);

  font-weight: 500px;
  font-size: 14px;
}
.contact-us:hover {
  color: var(--select-bgcolor);
}
.contact-us:focus {
  color: var(--select-bgcolor);
}
/* navi buttons */
.navi-button {
  color: var(--black-color);

  font-weight: 500px;
  font-size: 14px;
}
.navi-button:hover {
  color: var(--select-bgcolor);
}
.navi-button:focus {
  color: var(--select-bgcolor);
}

/* a */
a {
  text-decoration: none;
}
/* ul li */
ul {
  list-style-type: none;
  display: flex;
}
/* main  - EFEKTY*/
.main-container {
  background-color: var(--bg-color);
  color: var(--white-color);
}
.button-color {
  background-color: var(--button-bg-color);
  color: var(--white-color);
  border: var(--bg-color);
  padding: 10px 41px 10px 42px;
  border-radius: 4px;
}
.button-color:hover {
  background-color: var(--button-bg-color);
  color: var(--white-color);
  border: var(--bg-color);
  cursor: pointer;
}
.button-portfolio {
  background-color: #f5f4fa;
  color: var(--black-color);
  cursor: pointer;
  border: var(--white-color);
  border: px solid none;
  font-weight: 500;
  font-size: 16px;
  font-style: normal;
  padding: 6px 22px 6px 22px;
  border-radius: 4px;
}

.button-portfolio:hover {
  background-color: var(--button-bg-color);
  color: var(--white-color);
  cursor: pointer;
  border: none;
  border: 0px solid black;
}
/* description */
.title-desc {
  /* czcionka */
  /* 
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; 
*/

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: left;
  vertical-align: top;
  letter-spacing: 0.03em;
}
.text-desc {
  color: var(--desc-color);
  font-family: Roboto;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;

  text-align: Left;
  vertical-align: Top;
  letter-spacing: 0.03em;
}
.text-main {
  text-align: center;
  font-family: Roboto;
  font-style: Black;
  font-size: 44px;
  line-height: 0.7;

  vertical-align: Top;
  letter-spacing: 6%;
}
.text-main-button {
  text-align: center;
  font-family: Roboto;
  font-style: bold;
  font-size: 16px;
  line-height: 1.8;
  vertical-align: center;
  letter-spacing: 0.06em;
}
/* about-us */
.about-us {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
}
/* team */
.workers {
  background-color: var(--workers-bgcolor);
}
.workers-title {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
}
.full-name {
  color: var(--black-color);
  font-weight: 500;
  font-size: 16px;
  text-align: center;
}
.profesion {
  color: var(--grey-color);
  font-weight: 500;
  font-size: 16px;
  text-align: center;
}
.full-name-port {
  color: var(--black-color);
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0.06em;
}
.profesion-port {
  color: var(--grey-color);
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
}
/* footer */
.footer-info {
  background-color: var(--bg-color);
}
.street {
  color: var(--white-color);
  font-size: 14px;
  width: 252px;
  font-size: 14px;
}
