// smartphone
@media screen and (max-width: $pad) {
  .about {
    display: none;
  }
}
// TABLET
@media screen and( min-width: $pad) and (max-width: $desktop) {
  .about {
    display: none;
  }
}

@media screen and (min-width: $desktop) {
  .about {
    padding-top: 94px;
    padding-bottom: 94px;
    &__header {
      font-weight: 700;
      font-size: 36px;
      text-align: center;
      margin-top: 0;
    }

    &__list {
      display: flex;
      justify-content: center;
      gap: 45px;
      padding-left: 0;
      margin: 0 auto;
    }
    &__img {
      margin: 0;
      position: relative;
      width: 370px;
      height: 294px;
      display: flex;
    }
    &__desc {
      position: absolute;
      display: flex;
      width: 370px;
      height: 70px;
      top: 224px;
      align-items: center;
      justify-content: center;
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: $white-color;
      background: rgba(47, 48, 58, 0.8);
    }
  }
}
