// To wypadałoby zmienić na bem

.modal-backdrop {
  position: fixed;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms, visibility 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-content {
  padding: 2rem 1rem;
  box-sizing: border-box;
  max-width: 450px;
  min-height: 609px;
  position: relative;
  cursor: initial;
  margin: auto;
  z-index: 2;
  background: $white-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
  cursor: pointer;
}

.modal-exit {
  position: absolute;
  top: 8px;
  right: 17px;
  width: 30px;
  height: 30px;
  background-color: $white-color;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.modal-exit:hover,
.modal-exit:focus {
  background: $-blue;
  color: $white-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: background 250ms, color 250ms, box-shadow 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal-form-title {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: #212121;
  margin-bottom: 12px;
}
.modal-form-box {
  min-width: 320px;
  max-width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  position: relative;
  padding-top: 3px;
  padding-left: 38px;
}
.modal-form-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.01em;
  text-align: left;
  color: $grey-color;
  padding-bottom: 4px;
  padding-top: 10px;
}
.modal-icon-name {
  fill: #212121;
  position: absolute;
  top: 67px;
  left: 10px;
  height: 18px;
  width: 18px;
}
.modal-icon-phone {
  fill: #212121;
  position: absolute;
  top: 67px;
  left: 10px;
  height: 18px;
  width: 18px;
}
.modal-icon-mail {
  fill: #212121;
  position: absolute;
  top: 67px;
  left: 10px;
  height: 18px;
  width: 18px;
}
.modal-checkbox {
  display: block;
  position: relative;
  cursor: pointer;
}
.modal-checkbox-icon {
  height: 15px;
  width: 16px;
  visibility: hidden;
}

.modal-checkbox input {
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  height: 15px;
  width: 15px;
  background-color: #ffffff;
  border: 1px solid black;
  position: absolute;
  top: 17px;
  left: 7px;
  cursor: pointer;
  border-radius: 2px;
}
.modal-checkbox-icon {
  height: 15px;
  width: 16px;
  visibility: hidden;
}

.modal-checkbox input:checked ~ .checkmark .modal-checkbox-icon {
  background-color: $-blue;
  border: none;
  border-radius: 2px;
  visibility: visible;
  position: absolute;
  top: -2px;
  left: -2px;
}

.modal-checkbox-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
  cursor: default;
  margin-left: 22px;
}

.modal-checkbox-link {
  color: var(--blue);
  text-decoration: underline;
  cursor: pointer;
}

input:focus + .modal-icon-name,
input:focus + .modal-icon-phone,
input:focus + .modal-icon-mail,
textarea,
input {
  fill: $-blue;
  outline-color: $-blue;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: outline-color, fill;
}
.modal-form-button {
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  cursor: pointer;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: transform;
}
textarea {
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  resize: none;
  transition: border 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

textarea::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form-button:hover {
  transform: scale(1.1);
}
.modal-button-position {
  display: flex;
  justify-content: center;
}
.form__set {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 10px;
  gap: 4px;
}
.modal-policy {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
