$black-color: #212121;
$logofirst-color: #2196f3;
$logosec-color: #000000;
$head-background: #ffffff;
$grey-color: #757575;
$select-bgcolor: #2196f3;
$bg-color: #2f303a;
$white-color: #ffffff;
$button-bg-color: #2196f3;
$desc-color: #757575;
$workers-bgcolor: #f5f4fa;
$-blue: #2196f3;
$border: #eeeeee;
$social: #afb1b8;
